.searchButton {
  height: 100%;
}

.banner {
  background-color: var(--color-primary);
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 2rem;
  background: url(https://s3.ca-central-1.amazonaws.com/womenandcolor/background-image.jpg) no-repeat center center fixed;
  background-size: cover;
}

.headline {
  font-size: 2rem;
  color: var(--color-inverted-light);
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 100;
  line-height: 1.4;
}

.highlight {
  font-weight: 600;
}

.searchForm {
  background-color: var(--color-inverted-light);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.textField {
  margin-right: 1rem;
}

.searchIcon {
  margin-right: 1rem;
}

@media (max-width: 1059px) {
  .banner {
    margin-bottom: 0;
  }
}

@media (max-width: 599px) {
  .banner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 0;
  }

  .headline {
    font-size: 1.4rem;
  }
}