.registrationForm {
  margin-top: 2rem;
  padding: 30px;
  border: 1px solid var(--color-grey-light);
  background-color: var(--color-inverted-light);
  border-radius: 10px;
}

.actions {
  padding-top: 2rem;
}

.formControl {
  margin: 2em;
}

.loginLink {
  text-align: center;
}

.buttonLabel {
  color: var(--color-inverted-light);
}

.title {
  composes: h1 from 'sharedStyles/styles.css';
}

.loginRegisterPrompt {
  text-align: center;
}