.registrationForm {
  padding: 30px;
  margin: 0 auto;
  border: 1px solid var(--color-grey-light);
  background-color: var(--color-inverted-light);
  border-radius: 10px;
  max-width: 500px;
  box-sizing: border-box;
}

.registrationFormHeader {
  font-size: 2.5rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.formControl {
  margin: 2em;
}

.loginLink {
  text-align: center;
}

.buttonLabel {
  color: var(--color-inverted-light);
}
