.header {
  font-size: 2rem;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-light);
  margin-top: 0.5rem;
  padding-bottom: 2rem; /* to push the border down */
  border-bottom: 1px solid var(--color-grey-light);
}

.changePasswordLink {
  text-decoration: none;
}
