@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* Constants */
:root {
  --background-color-light: #fafafa;
  --border-radius: 4px;
  --color-primary: #283ca7;
  --color-secondary: #E5E8F4;
  --color-grey-dark: #000000;
  --color-grey: #757575;
  --color-grey-light: #e0e0e0;
  --color-inverted-light: #ffffff;
  --font-family-sans-serif: "Open Sans", sans-serif;
  --font-family-serif: "Georgia", serif;
  --font-size-base: 16px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height-base: 24px;
  --padding-horizontal: 16px;
  --padding-vertical: 8px;
  --navbar-height: 64px;
}

/* Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  color: var(--color-grey);
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h1 {
  color: #000000;
  font-size: 2.3rem;
  line-height: 3rem;
}

.h2 {
  text-align: center;
  font-weight: var(--font-weight-light);
  font-size: 1.1rem;
  line-height: 1.7rem;
}

.error {
  color: #ff7777;
  text-align: center;
}

.button {
  line-height: 1.5rem;
  padding: 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  border-radius: var(--border-radius);
  background-color: transparent;
  border: 1px solid transparent;
}

.button-primary {
  composes: button;
  background-color: var(--color-primary);
  color: #ffffff;
}

.input {
  line-height: 2.8rem;
  -webkit-appearance: none;
  color: var(--color-grey);
  border: 1px solid var(--color-grey-light);
  border-radius: var(--border-radius);
  padding: 0;
  font-size: 16px;
}

.searchForm {
  border: 1px solid var(--color-grey-light);
  border-radius: 4px;
  padding: 6px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.profilePhoto {
  background: #e5e8f5;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.profilePhoto img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  object-fit: cover;
}

@media (max-width: 380px){
  .hideOnMobile {
    display: none !important;
  }
}
