/* SpeakerCard */

.speakerCard {
  margin-bottom: 1rem;
}

.speakerPhoto {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.speakerPhoto img {
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.speakerInfo {
  text-align: center;
}

.speakerName {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.speakerTitle {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.speakerOrganization {
  margin-top: 0;
  margin-bottom: 1rem;
}

.speakerTags {
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 0;
}

.speakerInfoListPronouns {
  text-align: center;
  padding-right: 0 !important; /* override material-ui padding so text can really center */
}

.speakerInfoListLocation {
  text-align: center;
  padding-right: 0 !important; /* override material-ui padding so text can really center */
}

.speakerInfoListSocial {
  justify-content: space-around !important; /* override materiaul-ui jc */
}

/* Profile Info */

.sectionHeader {
  font-size: 2rem;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-light);
  margin-top: 0.5rem;
}

.sectionSubHeader {
  color: var(--color-grey-dark);
  text-transform: uppercase;
  border-bottom: 1px solid var(--color-grey-light);
  font-weight: var(--font-weight-semibold);
}

.profileInfoDescription {
  color: var(--color-grey-dark);
  margin-bottom: 2rem;
}

/* FeaturedTalks */

.talksWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.talkCard {
  flex: 0 1 100%;
  margin-bottom: 2rem;
}

@media (min-width: 576px) {
  .talkCard {
    flex: 0 1 calc(50% - 1rem);
  }
}

.talkCardImage {
  height: 12rem;
}

.talkCardHeader {
  font-size: 1rem;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-semibold);
  margin-top: 0;
}

.talkCardLink {
  /* todo color, text-decoration, etc */
}

/* MessageSpeakerForm */
