.container {
  composes: centeredContainer from 'sharedStyles/styles.css';
}

.title {
  composes: h1 from 'sharedStyles/styles.css';
}

.slogan {
  composes: h2 from 'sharedStyles/styles.css';
}


// Sidebar

.sidebar {
	height: 100%;
	width: 192px;
}

.sidebarTitles {
	height: 21px;
	width: 100%; /* 192px; */
	color: #212121;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: bold;
	/* line-height: 21px; */
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 8px;
}

.sidebarObject {
	height: 36px;
	width: 100%;  /* 192px; */
  padding: 6px;
  font-family: "Open Sans";
  font-size: 16px;
	color: #000000;
  /* line-height: 24px; */
}

.sidebarObjectSelected {
  height: 36px;
	width: 100%;
  padding: 6px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #283CA7;
  /* line-height: 24px; */
	background-color: #E5E8F4;
}



// Content

.content {
	height: 1488px;
	width: 704px;
}

.contentTitles {
	height: 40px;
	width: 469px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 300;
	line-height: 40px;
}

.hr {
	height: 1px;
	width: 704px;
	background-color: #E0E0E0;
}

.contentCard {
	height: 176px;
	width: 704px;
	background-color: #FFFFFF;
}

.photo {
	height: 115.5px;
	width: 115.5px;
}

.name {
	height: 32px;
	width: 384px;
	color: #000000;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
}

.speakerTitle {
	height: 24px;
	width: 384px;
	color: #424242;
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 24px;
}

.speakerTags {
	height: 42px;
	width: 384px;
	color: #757575;
	font-family: "Open Sans";
	font-size: 14px;
	line-height: 21px;
}
