.container {
  width: 100%;
  padding: 30px;
  box-sizing: border-box; /* so that a child with width:100% will not overflow */
}

.innerContainer {
  max-width: 900px;
  margin: 0 auto;
  padding-top: var(--navbar-height);
}
