/* email settings */

.header {
  font-size: 2rem;
  color: var(--color-grey-dark);
  font-weight: var(--font-weight-light);
  margin: 0;
}

.section {
  padding: 0 1rem 2rem 1rem;
  border-bottom: 1px solid var(--color-grey-light);
  margin-bottom: 2rem;
}

.sectionBorderless {
  padding: 0 1rem 2rem 1rem;
}
